@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding: 10px;
}

.title {
    font-size: 1.6rem;
}

main {
    padding: 20px;
    background-image: url('../imagens/people.jpg');
    background-size: cover;
    overflow: hidden;
}

.formCantainer {
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

.formCantainer > h2 {
    font-size: 1rem;
}

.mb {
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    color: white;
    background-color: #48C5CE;
    font-weight: bold;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: white;
    color: #48C5CE;
    border: 2px solid #48C5CE;
    padding: 8px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../imagens/arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}

footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture {
    width: 160px;
}

.description {
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 40%;
    margin-left: 40px;
}

.description p, .description h2 {
    margin-bottom: 20px;
}

.description h2 {
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .formCantainer {
        max-width: 80%;
        float: none;
        margin: auto;
    }

    footer {
        position: relative;
        padding: 0;
    }

    .picture {
        width: 100%;
        display: block;
    }

    .description {
        position: absolute;
        display: block;
        box-sizing: border-box;
        text-align: justify;
        background-color: #20212183;
        max-width: none;
        width: 100%;
        height: 100%;
        padding: 40px;
        margin-left: 0;
        top: 0%;
    }
}